@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

*{
  font-family: 'Della Respira', serif;
}

::-webkit-scrollbar{
  display: none;
}